@model IEnumerable<Gestão_de_Frota_de_Automóveis.Models.Utilizador>
@using GridMvc.Html
@{
    ViewBag.Title = "Utilizador";
}

<h2>Utilizador</h2>
<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
<script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>

<div class="code-cut">
    @Html.Grid(Model).Columns(Colums =>
{
    Colums.Add(c => c.Id_Utilizador).Titled("Id").Filterable(true);
    Colums.Add(c => c.Nome).Titled("Nome").Filterable(true);
    Colums.Add(c => c.Departamento).Titled("Departamento").Filterable(true);
    Colums.Add(c => c.Cargo).Titled("Cargo").Filterable(true);
    Colums.Add(c => c.Telefone).Titled("Telefone").Filterable(true);
    Colums.Add(c => c.CC).Titled("Cartão de Cidadão").Filterable(true);
    Colums.Add(c => c.Morada).Titled("Morada").Filterable(true);
    Colums.Add(c => c.CodigoPostal).Titled("Código Postal").Filterable(true);
    Colums.Add(c => c.Localidade).Titled("Localidade").Filterable(true);
    Colums.Add()
    .Encoded(false)
    .Sanitized(false)
    .SetWidth(30)
    .RenderValueAs(o => Html.ActionLink("Edit", "Edit", new { id = o.Id_Utilizador }));

}).WithPaging(10).Sortable(true)
</div>

